
.title{
    height: 40vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.4)
    ), url("./img/background.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.title-text{
    font-size: 40px;
    font-weight: bold;
    border-left: 2px solid gold; 
    padding-left: 10px;
    margin-left: 10px;
    color: white;
    height: fit-content;
}

.body-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
    border-top: 1px solid #eee;
}
.courses{
    padding: 0px 0px;
}

.body-left{
    flex: 3;
}

.body-left-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    height: 60px;
    padding: 0px 50px;
    margin: 30px 0px;
}

.body-left-menu select{
    border: none;
    color: gray;
    padding: 5px 10px;
    outline: none;
    width: 30%;
    height: 50%;
}
.body-left-search{
    width: 50%;
    display: flex;
    align-items: center;
    height: 50%;
}
.body-left-search input{
    color: gray;
    border: none;
    outline: none;
    padding: 5px 10px;
    flex: 6;
    height: 100%;
}
.body-left-search .search-box-icon{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    cursor: pointer;
}
.body-right{
    flex: 1;
    margin: 30px 0px 0px 20px;
}
.body-right-top{
    padding: 20px 20px;
    border: 1px solid #eee;
    margin-bottom: 50px;
}
.top-item h2{
    margin-bottom: 20px;
}
.top-item ul{
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 16px;
}
.top-item ul li{
    font-weight: 600;
    margin-bottom: 6px;
    color: rgb(111, 111, 111);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.top-item ul li input{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.filter-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-btn button{
    border: none;
    background-color: #ffb606;
    padding: 15px 25px;
    font-weight: 550;
}
.body-right-bottom{
    border-left: 1px solid #eee;
    margin-bottom: 50px;
}
.brb-title{
    border-left: 2px solid #ffb606;
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.body-right-bottom ul{
    list-style-type: none;
    margin-left: 20px;
}

.body-right-bottom ul li{
    font-weight: 600;
    margin-bottom: 6px;
    color: rgb(111, 111, 111);
    cursor: pointer;
    transition: all .5s ease-out;
}
.body-right-bottom ul li:hover{
    color: #ffb606;
}
